# ***Error Analysis***

---
---

### ***Load necessary modules***

In [1]:
import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")

# ignore the warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras.models import Model, load_model

import nltk
from nltk.corpus import stopwords

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from mlxtend.plotting import plot_confusion_matrix

from tqdm.auto import tqdm

In [2]:
print(tf.__version__)

2.9.2

In [3]:
tqdm.pandas()

---

### ***Load model from Tensorflow***

In [4]:
model = load_model('../saved_model/model_extended_3_no_attention')

Metal device set to: Apple M1

systemMemory: 8.00 GB
maxCacheSize: 2.67 GB

2022-09-08 08:43:42.971745: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-09-08 08:43:42.971982: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2022-09-08 08:44:00.488099: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-09-08 08:44:00.492568: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-08 08:44:00.517809: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

---

### ***Load reviews - 10 reviews per business***

#### ***<u>Columbia Restaurant - Tampa, FL<u>***

In [5]:
df_cr = pd.read_csv('../data/yelp_dataset/rev_cr_tampa_FL.csv')

In [7]:
rev_pred = model.predict(df_cr)

2022-09-08 08:44:01.744031: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-08 08:44:01.980340: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-08 08:44:01.991762: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-08 08:44:02.524661: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-08 08:44:02.537014: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

1/1 [==============================] - 2s 2s/step

In [8]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [9]:
df_cr['probabilities'] = rev_pred

In [10]:
df_cr

                                                text probabilities
0  The oldest restaurant in Florida Pretty cool o...    0.60758579
1  I was referred here by a friend that grew up i...    0.95792764
2  I found this business on Yelp while visiting Y...    0.53678352
3  Its like a bag of salt must have exploded in t...    0.94620663
4  Great spot for Columbian food Start you off wi...    0.03537406
5  Columbia in Ybor City is a place you HAVE to v...    0.02920926
6  We had a fabulous experience Alfonzo was secon...    0.08229074
7  Tons of different Spanish and Cuban dishes and...    0.03465856
8  One of the oldest restaurants in the area This...    0.64434236
9  Traditional Spanish dishes served with an old ...    0.03499111

In [11]:
df_cr_new_sorting = df_cr.sort_values(by=['probabilities'], ascending=False)

In [12]:
df_cr_new_sorting

                                                text probabilities
1  I was referred here by a friend that grew up i...    0.95792764
3  Its like a bag of salt must have exploded in t...    0.94620663
8  One of the oldest restaurants in the area This...    0.64434236
0  The oldest restaurant in Florida Pretty cool o...    0.60758579
2  I found this business on Yelp while visiting Y...    0.53678352
6  We had a fabulous experience Alfonzo was secon...    0.08229074
4  Great spot for Columbian food Start you off wi...    0.03537406
9  Traditional Spanish dishes served with an old ...    0.03499111
7  Tons of different Spanish and Cuban dishes and...    0.03465856
5  Columbia in Ybor City is a place you HAVE to v...    0.02920926

---
---

#### ***<u>Antoines Restaurant - New Orleans, LA <u>***

In [13]:
df_ar = pd.read_csv('../data/yelp_dataset/rev_ar_new_orleans_LA.csv')

In [15]:
rev_pred = model.predict(df_ar)

1/1 [==============================] - 0s 112ms/step

In [16]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [17]:
df_ar['probabilities'] = rev_pred

In [18]:
df_ar

                                                text probabilities
0  Very excellent service and food as we picked t...    0.57471669
1  oysters rockefeller 010 ummthis was atrocious ...    0.89316297
2  Ive seen some rave reviews for Antoines and wa...    0.95719856
3  Came on dress casual with open toed sandals an...    0.03431005
4  My favorite spot in the French Quarter for wha...    0.03400181
5  What amazing sorcery this place is Spent a bea...    0.95880413
6  We came during the Coolinary New Orleans event...    0.06676169
7  Antoines was definitely an experience Service ...    0.95723891
8  Perfect restaurant and bar scene to visit in t...    0.03575343
9  Walking towards the restaurant you begin to ob...    0.93794000

In [19]:
df_ar_new_sorting = df_ar.sort_values(by=['probabilities'], ascending=False)

In [20]:
df_ar_new_sorting

                                                text probabilities
5  What amazing sorcery this place is Spent a bea...    0.95880413
7  Antoines was definitely an experience Service ...    0.95723891
2  Ive seen some rave reviews for Antoines and wa...    0.95719856
9  Walking towards the restaurant you begin to ob...    0.93794000
1  oysters rockefeller 010 ummthis was atrocious ...    0.89316297
0  Very excellent service and food as we picked t...    0.57471669
6  We came during the Coolinary New Orleans event...    0.06676169
8  Perfect restaurant and bar scene to visit in t...    0.03575343
3  Came on dress casual with open toed sandals an...    0.03431005
4  My favorite spot in the French Quarter for wha...    0.03400181

---
---

#### ***<u>Bodega - Saint Petersburg, FL<u>***

In [21]:
df_b = pd.read_csv('../data/yelp_dataset/rev_b_saint_peter_FL.csv')

In [23]:
rev_pred = model.predict(df_b)

1/1 [==============================] - 0s 108ms/step

In [24]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [25]:
df_b['probabilities'] = rev_pred

In [26]:
df_b

                                                text probabilities
0  5 stars for the food Great portions for an awe...    0.62616038
1  Sometimes its best to have a great memory of a...    0.95051062
2  Definitely recommend the sandwich here Thought...    0.59885108
3  I have not been back to Bodega for years move ...    0.04762971
4  Super disappointed the last two times Ive visi...    0.03580257
5  I am visiting Saint Pete for a birthday trip a...    0.94648218
6  Bodega is a great spot that can serve a variet...    0.96365166
7  First time there Food and service were okay St...    0.05714001
8  This was one of the best Cubans Ive ever had I...    0.60869014
9  I love the walkup window to order and then goi...    0.60852116

In [27]:
df_b_new_sorting = df_b.sort_values(by=['probabilities'], ascending=False)

In [28]:
df_b_new_sorting

                                                text probabilities
6  Bodega is a great spot that can serve a variet...    0.96365166
1  Sometimes its best to have a great memory of a...    0.95051062
5  I am visiting Saint Pete for a birthday trip a...    0.94648218
0  5 stars for the food Great portions for an awe...    0.62616038
8  This was one of the best Cubans Ive ever had I...    0.60869014
9  I love the walkup window to order and then goi...    0.60852116
2  Definitely recommend the sandwich here Thought...    0.59885108
7  First time there Food and service were okay St...    0.05714001
3  I have not been back to Bodega for years move ...    0.04762971
4  Super disappointed the last two times Ive visi...    0.03580257

---
---

In [29]:
df_test = pd.DataFrame(["Great breakfast joint! Seasoned and hearty sized dishes at reasonable prices. One of my favorite places to recommend for people visiting from out of town the only negative is the long wait to get in. They have a great menu selection so you'll definetly find something g you enjoy."])

In [30]:
rev_pred = model.predict(df_test)

1/1 [==============================] - 1s 868ms/step

In [31]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [32]:
rev_pred

['0.03578636']

---
---

#### ***<u>Dott Boss - Kansas City, MO<u>***

In [34]:
df_db = pd.read_csv('../data/yelp_dataset/rev_db_kansas_city_MO.csv')

In [35]:
rev_pred = model.predict(df_db)

1/1 [==============================] - 1s 837ms/step

In [36]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [37]:
df_db['probabilities'] = rev_pred

In [38]:
df_db

                                                text probabilities
0  I had a chance to taste a potential new menu-a...    0.03658012
1  Very friendly staff and conveniently located i...    0.03575404
2  The service and food here were great. The bar ...    0.03522667
3  My buddy bartends here so I've come in a coupl...    0.03569889
4  Called this restaurant ahead of arrival on a S...    0.95596761
5  Never open!  Closed most of the time. Not wort...    0.03552465
6  An incredibly pleasant surprise ending to a gr...    0.02943257
7  We dined at Dot Boss on the recommendation of ...    0.60105711
8  Hands down some of the best breakfast tacos I'...    0.03431804
9  I'm a BIG breakfast person and you've really g...    0.95552135

In [39]:
df_db_new_sorting = df_db.sort_values(by=['probabilities'], ascending=False)

In [40]:
df_db_new_sorting

                                                text probabilities
4  Called this restaurant ahead of arrival on a S...    0.95596761
9  I'm a BIG breakfast person and you've really g...    0.95552135
7  We dined at Dot Boss on the recommendation of ...    0.60105711
0  I had a chance to taste a potential new menu-a...    0.03658012
1  Very friendly staff and conveniently located i...    0.03575404
3  My buddy bartends here so I've come in a coupl...    0.03569889
5  Never open!  Closed most of the time. Not wort...    0.03552465
2  The service and food here were great. The bar ...    0.03522667
8  Hands down some of the best breakfast tacos I'...    0.03431804
6  An incredibly pleasant surprise ending to a gr...    0.02943257