# ***Error Analysis***

---
---

### ***Load necessary modules***

In [1]:
import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")

# ignore the warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras.models import Model, load_model

import nltk
from nltk.corpus import stopwords

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from mlxtend.plotting import plot_confusion_matrix

from tqdm.auto import tqdm

In [2]:
print(tf.__version__)

2.8.0

In [3]:
tqdm.pandas()

---

### ***Load model from Tensorflow***

In [9]:
model = load_model('../saved_model/model_extended_1_mk')

WARNING:tensorflow:Detecting that an object or model or tf.train.Checkpoint is being deleted with unrestored values. See the following logs for the specific values in question. To silence these warnings, use `status.expect_partial()`. See https://www.tensorflow.org/api_docs/python/tf/train/Checkpoint#restorefor details about the status object returned by the restore function.
WARNING:tensorflow:An attribute in the restored object could not be found in the checkpoint. Object: (root).layer_with_weights-0._lookup_layer.token_counts, attribute: ['']

2022-09-06 23:08:01.160161: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 23:08:01.168974: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

---

### ***Load reviews - 10 reviews per business***

#### ***<u>Columbia Restaurant - Tampa, FL<u>***

In [10]:
df_cr = pd.read_csv('../data/yelp_dataset/rev_cr_tampa_FL.csv')

In [11]:
df_cr['text'] = df_cr['text'].str.replace('[^\w\s]','')

In [12]:
rev_pred = model.predict(df_cr)

2022-09-06 23:08:02.434809: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 23:08:02.715811: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 23:08:02.726536: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 23:08:03.246731: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 23:08:03.257223: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

In [13]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [14]:
df_cr['probabilities'] = rev_pred

In [15]:
df_cr

                                                text probabilities
0  The oldest restaurant in Florida Pretty cool o...    0.00000001
1  I was referred here by a friend that grew up i...    0.99988341
2  I found this business on Yelp while visiting Y...    0.01077018
3  Its like a bag of salt must have exploded in t...    0.01197882
4  Great spot for Columbian food Start you off wi...    0.00000000
5  Columbia in Ybor City is a place you HAVE to v...    0.00000003
6  We had a fabulous experience Alfonzo was secon...    0.00000000
7  Tons of different Spanish and Cuban dishes and...    0.00000001
8  One of the oldest restaurants in the area This...    0.99967957
9  Traditional Spanish dishes served with an old ...    0.00088261

In [16]:
df_cr_new_sorting = df_cr.sort_values(by=['probabilities'], ascending=False)

In [17]:
df_cr_new_sorting

                                                text probabilities
1  I was referred here by a friend that grew up i...    0.99988341
8  One of the oldest restaurants in the area This...    0.99967957
3  Its like a bag of salt must have exploded in t...    0.01197882
2  I found this business on Yelp while visiting Y...    0.01077018
9  Traditional Spanish dishes served with an old ...    0.00088261
5  Columbia in Ybor City is a place you HAVE to v...    0.00000003
0  The oldest restaurant in Florida Pretty cool o...    0.00000001
7  Tons of different Spanish and Cuban dishes and...    0.00000001
4  Great spot for Columbian food Start you off wi...    0.00000000
6  We had a fabulous experience Alfonzo was secon...    0.00000000

---
---

#### ***<u>Antoines Restaurant - New Orleans, LA <u>***

In [18]:
df_ar = pd.read_csv('../data/yelp_dataset/rev_ar_new_orleans_LA.csv')

In [19]:
df_ar['text'] = df_ar['text'].str.replace('[^\w\s]','')

In [20]:
rev_pred = model.predict(df_ar)

In [21]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [22]:
df_ar['probabilities'] = rev_pred

In [23]:
df_ar

                                                text probabilities
0  Very excellent service and food as we picked t...    0.00000005
1  oysters rockefeller 010 ummthis was atrocious ...    0.00000002
2  Ive seen some rave reviews for Antoines and wa...    0.99999952
3  Came on dress casual with open toed sandals an...    0.01970185
4  My favorite spot in the French Quarter for wha...    0.00000001
5  What amazing sorcery this place is Spent a bea...    0.99996090
6  We came during the Coolinary New Orleans event...    0.00126490
7  Antoines was definitely an experience Service ...    0.99999964
8  Perfect restaurant and bar scene to visit in t...    0.00000001
9  Walking towards the restaurant you begin to ob...    0.95362747

In [24]:
df_ar_new_sorting = df_ar.sort_values(by=['probabilities'], ascending=False)

In [25]:
df_ar_new_sorting

                                                text probabilities
7  Antoines was definitely an experience Service ...    0.99999964
2  Ive seen some rave reviews for Antoines and wa...    0.99999952
5  What amazing sorcery this place is Spent a bea...    0.99996090
9  Walking towards the restaurant you begin to ob...    0.95362747
3  Came on dress casual with open toed sandals an...    0.01970185
6  We came during the Coolinary New Orleans event...    0.00126490
0  Very excellent service and food as we picked t...    0.00000005
1  oysters rockefeller 010 ummthis was atrocious ...    0.00000002
4  My favorite spot in the French Quarter for wha...    0.00000001
8  Perfect restaurant and bar scene to visit in t...    0.00000001

---
---

#### ***<u>Bodega - Saint Petersburg, FL<u>***

In [26]:
df_b = pd.read_csv('../data/yelp_dataset/rev_b_saint_peter_FL.csv')

In [27]:
df_b['text'] = df_b['text'].str.replace('[^\w\s]','')

In [28]:
rev_pred = model.predict(df_b)

In [29]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [30]:
df_b['probabilities'] = rev_pred

In [31]:
df_b

                                                text probabilities
0  5 stars for the food Great portions for an awe...    0.00000022
1  Sometimes its best to have a great memory of a...    0.00001379
2  Definitely recommend the sandwich here Thought...    0.00000006
3  I have not been back to Bodega for years move ...    0.00532138
4  Super disappointed the last two times Ive visi...    0.97218835
5  I am visiting Saint Pete for a birthday trip a...    0.99964011
6  Bodega is a great spot that can serve a variet...    0.41694593
7  First time there Food and service were okay St...    0.87919033
8  This was one of the best Cubans Ive ever had I...    0.99414462
9  I love the walkup window to order and then goi...    0.99999464

In [32]:
df_b_new_sorting = df_b.sort_values(by=['probabilities'], ascending=False)

In [33]:
df_b_new_sorting

                                                text probabilities
9  I love the walkup window to order and then goi...    0.99999464
5  I am visiting Saint Pete for a birthday trip a...    0.99964011
8  This was one of the best Cubans Ive ever had I...    0.99414462
4  Super disappointed the last two times Ive visi...    0.97218835
7  First time there Food and service were okay St...    0.87919033
6  Bodega is a great spot that can serve a variet...    0.41694593
3  I have not been back to Bodega for years move ...    0.00532138
1  Sometimes its best to have a great memory of a...    0.00001379
0  5 stars for the food Great portions for an awe...    0.00000022
2  Definitely recommend the sandwich here Thought...    0.00000006

---
---