# ***Error Analysis***

---
---

### ***Load necessary modules***

In [1]:
import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")

# ignore the warnings
import warnings
warnings.filterwarnings("ignore")

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf
from tensorflow.keras.models import Model, load_model

import nltk
from nltk.corpus import stopwords

from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from mlxtend.plotting import plot_confusion_matrix

from tqdm.auto import tqdm

In [2]:
print(tf.__version__)

2.8.0

In [3]:
tqdm.pandas()

---

### ***Load model from Tensorflow***

In [4]:
model = load_model('../saved_model/model_extended_1')

Metal device set to: Apple M1

systemMemory: 8.00 GB
maxCacheSize: 2.67 GB

2022-09-06 21:13:20.865301: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-09-06 21:13:20.865392: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)
2022-09-06 21:13:44.999732: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2022-09-06 21:13:44.999829: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.
2022-09-06 21:13:45.018586: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:113] Plugin optimizer for device_type GPU is enabled.

---

### ***Load reviews - 10 reviews per business***

#### ***<u>Columbia Restaurant - Tampa, FL<u>***

In [23]:
df_cr = pd.read_csv('../data/yelp_dataset/rev_cr_tampa_FL.csv')

In [24]:
df_cr['text'] = df_cr['text'].str.replace('[^\w\s]','')

In [25]:
rev_pred = model.predict(df_cr)

In [26]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [27]:
df_cr['probabilities'] = rev_pred

In [28]:
df_cr

                                                text probabilities
0  The oldest restaurant in Florida Pretty cool o...    0.00000016
1  I was referred here by a friend that grew up i...    0.98794240
2  I found this business on Yelp while visiting Y...    0.98671210
3  Its like a bag of salt must have exploded in t...    0.96045440
4  Great spot for Columbian food Start you off wi...    0.00001827
5  Columbia in Ybor City is a place you HAVE to v...    0.00000020
6  We had a fabulous experience Alfonzo was secon...    0.00000108
7  Tons of different Spanish and Cuban dishes and...    0.00000331
8  One of the oldest restaurants in the area This...    0.00000033
9  Traditional Spanish dishes served with an old ...    0.97788006

In [29]:
df_cr_new_sorting = df_cr.sort_values(by=['probabilities'], ascending=False)

In [30]:
df_cr_new_sorting

                                                text probabilities
1  I was referred here by a friend that grew up i...    0.98794240
2  I found this business on Yelp while visiting Y...    0.98671210
9  Traditional Spanish dishes served with an old ...    0.97788006
3  Its like a bag of salt must have exploded in t...    0.96045440
4  Great spot for Columbian food Start you off wi...    0.00001827
7  Tons of different Spanish and Cuban dishes and...    0.00000331
6  We had a fabulous experience Alfonzo was secon...    0.00000108
8  One of the oldest restaurants in the area This...    0.00000033
5  Columbia in Ybor City is a place you HAVE to v...    0.00000020
0  The oldest restaurant in Florida Pretty cool o...    0.00000016

---
---

#### ***<u>Antoines Restaurant - New Orleans, LA <u>***

In [31]:
df_ar = pd.read_csv('../data/yelp_dataset/rev_ar_new_orleans_LA.csv')

In [32]:
df_ar['text'] = df_ar['text'].str.replace('[^\w\s]','')

In [33]:
rev_pred = model.predict(df_ar)

In [34]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [35]:
df_ar['probabilities'] = rev_pred

In [36]:
df_ar

                                                text probabilities
0  Very excellent service and food as we picked t...    0.00000004
1  oysters rockefeller 010 ummthis was atrocious ...    0.00000005
2  Ive seen some rave reviews for Antoines and wa...    0.99305731
3  Came on dress casual with open toed sandals an...    0.00004184
4  My favorite spot in the French Quarter for wha...    0.00008022
5  What amazing sorcery this place is Spent a bea...    0.99952078
6  We came during the Coolinary New Orleans event...    0.00000082
7  Antoines was definitely an experience Service ...    0.99326694
8  Perfect restaurant and bar scene to visit in t...    0.00008995
9  Walking towards the restaurant you begin to ob...    0.00000352

In [37]:
df_ar_new_sorting = df_ar.sort_values(by=['probabilities'], ascending=False)

In [38]:
df_ar_new_sorting

                                                text probabilities
5  What amazing sorcery this place is Spent a bea...    0.99952078
7  Antoines was definitely an experience Service ...    0.99326694
2  Ive seen some rave reviews for Antoines and wa...    0.99305731
8  Perfect restaurant and bar scene to visit in t...    0.00008995
4  My favorite spot in the French Quarter for wha...    0.00008022
3  Came on dress casual with open toed sandals an...    0.00004184
9  Walking towards the restaurant you begin to ob...    0.00000352
6  We came during the Coolinary New Orleans event...    0.00000082
1  oysters rockefeller 010 ummthis was atrocious ...    0.00000005
0  Very excellent service and food as we picked t...    0.00000004

---
---

#### ***<u>Bodega - Saint Petersburg, FL<u>***

In [39]:
df_b = pd.read_csv('../data/yelp_dataset/rev_b_saint_peter_FL.csv')

In [40]:
df_b['text'] = df_b['text'].str.replace('[^\w\s]','')

In [41]:
rev_pred = model.predict(df_b)

In [42]:
rev_pred = ['%.8f' % elem for elem in rev_pred]

In [43]:
df_b['probabilities'] = rev_pred

In [44]:
df_b

                                                text probabilities
0  5 stars for the food Great portions for an awe...    0.00000158
1  Sometimes its best to have a great memory of a...    0.92820776
2  Definitely recommend the sandwich here Thought...    0.00000011
3  I have not been back to Bodega for years move ...    0.99164003
4  Super disappointed the last two times Ive visi...    0.99977630
5  I am visiting Saint Pete for a birthday trip a...    0.99952435
6  Bodega is a great spot that can serve a variet...    0.99686050
7  First time there Food and service were okay St...    0.00000997
8  This was one of the best Cubans Ive ever had I...    0.00000009
9  I love the walkup window to order and then goi...    0.00000014

In [45]:
df_b_new_sorting = df_b.sort_values(by=['probabilities'], ascending=False)

In [46]:
df_b_new_sorting

                                                text probabilities
4  Super disappointed the last two times Ive visi...    0.99977630
5  I am visiting Saint Pete for a birthday trip a...    0.99952435
6  Bodega is a great spot that can serve a variet...    0.99686050
3  I have not been back to Bodega for years move ...    0.99164003
1  Sometimes its best to have a great memory of a...    0.92820776
7  First time there Food and service were okay St...    0.00000997
0  5 stars for the food Great portions for an awe...    0.00000158
9  I love the walkup window to order and then goi...    0.00000014
2  Definitely recommend the sandwich here Thought...    0.00000011
8  This was one of the best Cubans Ive ever had I...    0.00000009

---
---