### ***Preprocessing to csv***

In [1]:
import sys
# adding to the path variables the one folder higher (locally, not changing system variables)
sys.path.append("..")

import pandas as pd
import numpy as np

from scripts.processing import *

import warnings
warnings.filterwarnings("ignore")

In [2]:
dfr = pd.read_csv('../data/yelp_dataset/review_1819.csv')

In [3]:
dfr.drop(dfr[(dfr.business_id == 'wKwCbAACZRAqyZkQzeBNeg')].index, inplace=True)
dfr.drop(dfr[(dfr.business_id == 'g0fYqQRRKmYIfChE4jMLsg')].index, inplace=True)

In [4]:
dataset = dfr[['text', 'useful']]

In [5]:
dataset['useful'] = dataset["useful"].apply(lambda x: 1 if x > 0 else 0)

In [6]:
dataset = language_processing(dataset)
dataset.drop('language', axis=1, inplace=True)

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [7]:
dataset["text"] = dataset["text"].apply(clean_text)

In [8]:
dataset.head()

                                                text  useful
0  If you decide to eat here just be aware it is ...       0
1  I was really between 3 and 4 stars for this on...       1
2  My boyfriend and I tried this deli for the fir...       0
4  The cafe was extremely cute. We came at 8am an...       0
5  Ive only had the cannolis here but they are aw...       1

In [9]:
dataset.shape

(1612256, 2)

In [10]:
dataset.isnull().sum()

text      0
useful    0
dtype: int64

In [11]:
dataset.reset_index(inplace=True)
dataset.drop('index', axis=1, inplace=True)

In [12]:
dataset.iloc[689764][0]

'Boca is a fantastic farm to table restaurant located in South tampa. The one in South tampa is the original and they have branched out to Brandon Winter park and Sarasota. Its a great concept that Tampa has been really needing over the past couple years. Party of 4 we started off with the zucchini fries and yellow fin tuna tataki. Both were tasty the zucchini fries had a little bite to them and the tuna was fresh and flavorful. For my main dish I had the butchers cut which this night was tritip with burnt radishes crimini mushrooms arugula candied pearls onions bone marrow demi. My friend had the prime skirt steak withoak wood grilled market vegetables potatoes brava crushed chimichirri. The other two in our party had the fresh catch special pan roasted mutton snapper with roasted veggies salsa picante with a mango chimichurri. All the dishes were wonderful I tasted them all. The steak and fish were both super tender and the melded flavors were wonderful! For dessert we had the blueberry cobbler seasonal topped with vanilla ice cream and the fried cheesecake. With the fried cheesecake it was tasty but because it was fried the cheesecake inside gets a little runny I prefer cheesecake thicker so it has more of the taste. The drinks wee great the old fashioned has one large cube of ice signature of a craft cocktail. Excellent wine and beer selection. Our server was very knowledgeable and educational about the farm to table concept and Boca. He gave excellent recommendations and timing of the food coming out was perfect. They have valet parking for 5 otherwise YOU would have to find street parking thats one of the only downfalls. This is an amazing restaurant highly recommended for business dinners happy hour or date night.'

In [25]:
dataset.drop_duplicates('text', inplace=True)

In [28]:
dataset.to_csv('../data/yelp_dataset/review_1819_preprocessed_final.csv')

In [29]:
dff = pd.read_csv('../data/yelp_dataset/review_1819_preprocessed_final.csv')

In [30]:
dff.duplicated().sum()

0

In [31]:
dff.isnull().sum()

Unnamed: 0    0
text          0
useful        0
dtype: int64

In [32]:
dff.drop_duplicates(inplace=True)

In [33]:
dff.isnull().sum()

Unnamed: 0    0
text          0
useful        0
dtype: int64

In [34]:
dff[dff['text'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, text, useful]
Index: []

In [35]:
dff['Unnamed: 0'][689768]

691300

In [36]:
dff.shape

(1608420, 3)

In [37]:
dff.head()

   Unnamed: 0                                               text  useful
0           0  If you decide to eat here just be aware it is ...       0
1           1  I was really between 3 and 4 stars for this on...       1
2           2  My boyfriend and I tried this deli for the fir...       0
3           3  The cafe was extremely cute. We came at 8am an...       0
4           4  Ive only had the cannolis here but they are aw...       1